// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

//General resets
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

//Colors
$bg-c: #272727;
$bg-lc: #f5f5f1;
$prim-c: #341c09;
$sec-c: #fc7307;
$social-c:#2196f3;
$nav-c: #234155;
$logo-prim-c: #234155;
$logo-sec-c: #e7bd70;
$success-c:#4caf50;
$danger-c: #f44336;


//Text style
.text {
  &-xl{
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  &-lg {
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  &-md {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }
  &-center {
    text-align: center;
  }
}

//Transition mixin
@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

//Hover mixin
@mixin hover {
  color: $sec-c;
  cursor: pointer;
  @include transition-ease;
}

//Buttons
.btn {
  display: inline-block;
  background-color: $logo-prim-c;
  color: $bg-lc;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  margin-right: 0.5rem;
  @include transition-ease;
  outline: none;border: 1px solid $prim-c;
  border-bottom: 1px solid;
  box-shadow: 0 5px 10px rgba($sec-c, 0.5);
  &:hover{
    opacity: 0.8;
  }
  text-transform: uppercase;
}

.btn-xl {
  font-size: 2rem;
  padding: 1.5rem 2.2rem;
}

.btn-lg{
  font-size: 1rem;
  padding: 0.8rem 1.3rem;
}

.btn-md{
  margin-left: 1rem;
  font-size: 0.8rem;
  text-transform: lowercase;
}
//Mixin
//Display
//Footer



