//Footer
@media (max-width: 700px) {
  footer {
    @include footer-rotate;
  }
}

@include media-md{
  //Portfolio

  .portfolio{
    &-bio-img{
      height: 40vh;
    }

    &-items {
      @include grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@include media-lg{
  //Menu
  .menu-btn{
    visibility: hidden;
  }
  .nav{
    visibility: visible;

    .menu-nav{
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: left;

      &-item{
        display: initial;
        padding: 1.5rem;
      }
      &-link{
        font-size: 1.5rem;
      }
    }
  }

  //Portfolio
  .portfolio{
    &-items{
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@include media-xl{
  .about{
    &-bio-img{
      padding-top: 10rem;
    }
  }

  //Portfolio
  .portfolio{
    &-items{
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .portfolio-bio-img{
    height: 50vh;
  }
}

